@model Barinak_Sistemi.Models.Animal

@{
    ViewData["Title"] = "EditAnimal";
}

<h1>Düzenleme İşlemleri</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnimalId" />
            <div class="form-group">
                <label asp-for="AnimalName" class="control-label"></label>
                <input asp-for="AnimalName" class="form-control" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalType" class="control-label"></label>
                <input asp-for="AnimalType" class="form-control" />
                <span asp-validation-for="AnimalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalGender" class="control-label"></label>
                <input asp-for="AnimalGender" class="form-control" />
                <span asp-validation-for="AnimalGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalAge" class="control-label"></label>
                <input asp-for="AnimalAge" class="form-control" />
                <span asp-validation-for="AnimalAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalDescription" class="control-label"></label>
                <input asp-for="AnimalDescription" class="form-control" />
                <span asp-validation-for="AnimalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="AnimalList">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
