<link rel="stylesheet" href="~/css/animalType.css" asp-append-version="true" />
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahiplenmek İstediğiniz Hayvan</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="text-center mt-5">HANGİ HAYVANI SAHİPLENMEK İSTERSİN?</h1>
    <hr />
    <div class="animal-card-container">
        <div class="animal-card">
            <a href="#">
                <img src="/image/dog.png" alt="Köpek Resmi">
            </a>
            <h3>Köpek</h3>
            <p>en sadık dostunuz</p>
        </div>
        <div class="animal-card">
            <a href="#">
                <img src="/image/cat.png" alt="Kedi Resmi">
            </a>
            <h3>Kedi</h3>
            <p>en sevimli dostunuz</p>
        </div>
        <div class="animal-card">
            <a href="#">
                <img src="/image/bird.png" alt="Kuş Resmi">
            </a>
            <h3>Kuş</h3>
            <p>en renkli dostunuz</p>
        </div>
        <div class="animal-card">
            <a href="#">
                <img src="/image/monkey.png" alt="Maymun Resmi">
            </a>
            <h3>Maymun</h3>
            <p>en eğlenceli dostunuz</p>
        </div>
        <div class="animal-card">
            <a href="#">
                <img src="/image/mouse.png" alt="Fare Resmi">
            </a>
            <h3>Fare</h3>
            <p>en şirin dostunuz</p>
        </div>
    </div>
</body>
</html>
