@model Barinak_Sistemi.Models.DropAnimal

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Bırakma Formu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      
        form {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            border-radius: 20px;
            background-color: #b0a77dd4;
        }

        input[type="text"], input[type="number"], select, textarea, input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }

        
    </style>
</head>
<body>

	<form asp-action="DropAnimal" method="post" id="AnimalForm">
		
        <h2 class="text-center mt-5">Hayvan Bırakma Formu</h2>
        <div class="form-group">
            <label asp-for="DropAType">Hayvanın Türü:</label>
            <input asp-for="DropAType" name="DropAType" type="text" id="DropAType" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="DropAName">Hayvanın Adı:</label>
            <input asp-for="DropAName" type="text" id="DropAName" name="DropAName" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="DropAAge">Hayvanın Yaşı:</label>
            <input asp-for="DropAAge" name="DropAAge" type="number" id="Age" class="form-control" required>
        </div>

        <div class="form-group">
            <label asp-for="DropAGender">Hayvanın Cinsiyeti:</label>
            <select asp-for="DropAGender" id="DropAGender" name="DropAGender" class="form-control" required>
                <option value="Erkek">Erkek</option>
                <option value="Dişi">Dişi</option>
                <option value="Belirsiz">Belirsiz</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="DropADescription">Hayvanın Açıklaması:</label>
            <textarea asp-for="DropADescription" id="DropADescription" name="DropADescription" class="form-control" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Hayvanı Bırak</button>
		@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
		{
			<div class="alert alert-success mt-2 " role="alert">
				@ViewBag.SuccessMessage
			</div>

		}
    </form>
   
</body>
</html>