<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Başvuru Durumları</title>
    <style>
       
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="text-center mt-5">Başvuru Durumları</h1>

    <!-- Başvuruların Listesi -->
    <table>
        <tr>
            <th>Hayvan Türü</th>
            <th>Hayvan Numarası</th>
            
            <th>Durum</th>
        </tr>
        
        <tr>
            <td>Maymun</td>
            <td>5</td>
           
            <td>Değerlendirme Aşamasında</td>
        </tr>
        <tr>
            <td>Köpek</td>
            <td>1</td>
            
            <td>Reddedildi</td>
        </tr>
    </table>
</body>
</html>
