@model Barinak_Sistemi.Models.ShelterUsers

<link rel="stylesheet" href="~/css/shelterForm.css" asp-append-version="true" />
<h1 class="mt-5 text-center">Hayvan Sahiplenme Formu</h1>
<form class="mt-3">
    <fieldset>
        <legend>Kişisel Bilgiler</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Adı *</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Adı" required>
                    <span class="text-danger" asp-validation-for="name"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputSurName">Soyadı *</label>
                    <input type="text" class="form-control" id="inputSurName" placeholder="Soyadı" required>
                    <span class="text-danger" asp-validation-for="surName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail">Email *</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    <span class="text-danger" asp-validation-for="email"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputPhoneNumber">Telefon Numarası *</label>
                    <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="+90" required>
                    <span class="text-danger" asp-validation-for="phoneNumber"></span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Adres Bilgilerin</legend>
        <div class="form-group">
            <label for="inputAddress">Address *</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
            <span class="text-danger" asp-validation-for="address"></span>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputCity">City *</label>
                    <input type="text" class="form-control" id="inputCity" required>
                    <span class="text-danger" asp-validation-for="city"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputSalary">Aylık Gelir</label>
                    <input type="number" class="form-control" id="inputSalary">
                    <span class="text-danger" asp-validation-for="salary"></span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Ek Bilgiler</legend>
        <div class="form-group">
            <label for="inputGender">Cinsiyet</label>
            <select class="form-control" id="inputGender">
                <option>Belirtmek İstemiyorum</option>
                <option>Erkek</option>
                <option>Kadın</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputReason">Sahiplenme Nedeni</label>
            <textarea class="form-control" id="inputReason" rows="3"></textarea>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success">Gönder</button>
</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}