@model Barinak_Sistemi.Models.ShelterUsers

<link rel="stylesheet" href="~/css/shelterForm.css" asp-append-version="true" />
<h1 class="mt-5 text-center">Hayvan Sahiplenme Formu</h1>
<form asp-controller="ShelterForm" asp-action="Index" class="mt-3" method="post">
    <fieldset>
        <legend>Kişisel Bilgiler</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="shelterName">Adı *</label>
                    <input asp-for="shelterName" name="shelterName" type="text" class="form-control" id="inputName" placeholder="Adı" required>
                    <span class="text-danger" asp-validation-for="shelterName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="shelterSurName">Soyadı *</label>
                    <input asp-for="shelterSurName" name="shelterSurName" type="text" class="form-control" id="inputSurName" placeholder="Soyadı" required>
                    <span class="text-danger" asp-validation-for="shelterSurName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="email">Email *</label>
                    <input asp-for="email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    <span class="text-danger" asp-validation-for="email"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="shelterPhoneNumber">Telefon Numarası *</label>
                    <input asp-for="shelterPhoneNumber" name="shelterPhoneNumber" type="tel" class="form-control" id="inputPhoneNumber" placeholder="+90" required>
                    <span class="text-danger" asp-validation-for="shelterPhoneNumber"></span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Ek Bilgiler</legend>
        <div class="form-group">
            <label asp-for="shelterGender">Cinsiyet</label>
            <select asp-for="shelterGender" name="shelterGender" class="form-control" id="inputGender">
                <option>Belirtmek İstemiyorum</option>
                <option>Erkek</option>
                <option>Kadın</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="reason">Sahiplenme Nedeni</label>
            <textarea asp-for="reason" name="reason" class="form-control" id="inputReason" rows="3"></textarea>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success">Gönder</button>
    <!--Uyaarı Mesajı -->
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success mt-2 " role="alert">
            @ViewBag.SuccessMessage
        </div>

    }
</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}