<form class="mt-3">
  <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Adı</label>
          <input type="text" class="form-control" id="inputName" placeholder="Adı">
        </div>
        <div class="form-group col-md-6">
          <label for="inputName">Soyadı</label>
          <input type="text" class="form-control" id="inputName" placeholder="Soyadı">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhoneNumber">Telefon Numarası</label>
          <input type="number" class="form-control" id="inputPhoneNumber" placeholder="+90">
        </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputMoney">Aylık Gelir</label>
      <input type="number" class="form-control" id="inputMoney">
    </div>
    
    <div class="form-group col-md-3">
    <label for="inputGender">Cinsiyet</label>
    <select class="form-control" id="inputGender">
      <option>Erkek</option>
      <option>Kadın</option>
      <option>Belirtmek İstemiyorum</option>
    </select>
  </div>
  </div>
  <div class="form-group">
    <label for="inputTextArea">Sahiplenme Nedeni</label>
    <textarea class="form-control" id="inputTextArea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Sahiplenme Sözleşmesini Onaylıyorum
      </label>
    </div>
  </div>
  
  <button type="submit" class="btn btn-success">Gönder</button>
</form>