<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barinak_Sistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Barinak_Sistemi.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow " style="background-color: #b0a77dd4;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="AnimalList" asp-action="Index">Barinak_Sistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item navButton">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AnimalList" asp-action="Index">Hayvan Sahiplen</a>
                        </li>
                        <li class="nav-item navButton">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Process" asp-action="Index">Başvuru Takip</a>
                        </li>
                        <li class="nav-item navButton">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AnimalType" asp-action="Index">Türler</a>
                        </li>
                        <li class="nav-item navButton">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DropAnimal" asp-action="Index">Hayvan Bırak</a>
                        </li>
                    </ul>
                    <img class="navAnimals" src="~/image/livestock.png"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer class="text-center text-white footer">
           
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center text-dark p-3">
                © @DateTime.Now.Year Barınak Sistemi  - Tüm Hakları Saklıdır
               
            </div>
            <!-- Copyright -->
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
